body {
    background-color: #171a1f;
    color:white;
}

flag {
    display: none;
}

.container-e {
    background-color: #272c34;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  }

.title {
    margin-top: 20px;
}