@import url('https://fonts.cdnfonts.com/css/freemono');
body {
    background-color: #22272e;
    color:white;
    font-family: 'FreeMono', Courier;
}

flag {
    display: none;
}

.container-f {
    background-color: #272c34;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.container-e {
    background-color: #272c34;
    position: absolute;
    top: 56px;
    left: 0; 
    right: 0;
    bottom: 0;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.chat-card {
    border: 2px solid #1e4173;
}
.chat-card-header {
    background-color: #13233a;
    border-bottom: 2px solid #1e4173;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-color {
    background-color: #272c34;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.25) 0px 2px 6px 2px;
}

.navbar-color {
    background-color: #2d333b;
    color: #d0cdca;
}

.card {
    margin-bottom: 80px;
    border: 1px solid #444c56;
}

.card-header {
    background-color: #2d333b;
    border-bottom: 1px solid #444c56;
}

.nav-item {
    margin-left: 10px;
}
